In [2]:
import json
import pandas as pd
import numpy as np

In [3]:
import os
files = os.listdir("/scratch/arjunth2001/dataset2")

In [4]:
files = [f"/scratch/arjunth2001/dataset2/{f}"for f in files]

In [5]:
q_id = 0
dic_l = []
for _f in files:
    with open(_f) as f:
        data = json.load(f)   
    for q_list in data:
        for m1o in q_list:
            m1o["q_id"] = q_id
            dic_l.append(m1o)
        q_id += 1

In [6]:
df = pd.DataFrame(dic_l)

In [7]:
df

,doc_id,title,doc_sim,par_sim,par_length,doc_length,question_type,truths,q,para,q_id
0,1299506,Fontana,0.594999,0.573040,5,5,7,[England],Where did Julian Fontana fail to get established?,Fontana may refer to:,0
1,42577496,Roxanne Fontana,0.581939,0.524940,267,3247,7,[England],Where did Julian Fontana fail to get established?,2018 was the busiest year for Fontana's downlo...,0
2,9306798,Wayne Fontana,0.541589,0.501360,86,707,7,[England],Where did Julian Fontana fail to get established?,"Fontana was born in Levenshulme, Manchester, L...",0
3,42577496,Roxanne Fontana,0.581939,0.463276,306,3247,7,[England],Where did Julian Fontana fail to get established?,The couple moved to England to be near Treiber...,0
4,42577496,Roxanne Fontana,0.581939,0.451103,155,3247,7,[England],Where did Julian Fontana fail to get established?,Fontana began her music career at New York Cit...,0
...,...,...,...,...,...,...,...,...,...,...,...
316677,170375,Chengdu,0.858774,0.000000,3,14015,2,[cracks on walls],What was reported in Chengdu?,International relations.,2999
316678,20825164,List of universities and colleges in Sichuan,0.833094,0.000000,11,11,2,[cracks on walls],What was reported in Chengdu?,The following is List of Universities and Coll...,2999
316679,26539559,Chengdu North railway station,0.823501,0.000000,2,93,2,[cracks on walls],What was reported in Chengdu?,History.,2999
316680,26539559,Chengdu North railway station,0.823501,0.000000,8,93,2,[cracks on walls],What was reported in Chengdu?,"It opened on April 18, 2007.",2999
316681,65712720,Chengdu–Zigong high-speed railway,0.773085,0.000000,2,57,2,[cracks on walls],What was reported in Chengdu?,History.,2999

In [41]:
len(df["q_id"].unique())

2991

In [42]:
df.to_csv("/scratch/arjunth2001/dev_df.csv",index=False)